@import "tailwindcss";
@import "./fonts.css";

:root {
  --font-family: 'Google Sans', sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.5;
  --letter-spacing: normal;
}

body {
  font-family: var(--font-family);
  background-color: #f8fafc;
  color: #0f172a;
}
