@font-face {
	font-family: "Google Sans";
	font-style: normal;
	src: url("/fonts/google-sans/GoogleSansVariable.woff2")
		format("woff2-variations");
}

@font-face {
	font-family: "Google Sans";
	font-style: italic;
	src: url("/fonts/google-sans/GoogleSansItalicVariable.woff2")
		format("woff2-variations");
}
