@font-face {
	font-family: "Google Sans Code";
	font-style: normal;
	src: url("/fonts/google-sans-code/GoogleSansCodeVariable.woff2")
		format("woff2-variations");
}

@font-face {
	font-family: "Google Sans Code";
	font-style: italic;
	src: url("/fonts/google-sans-code/GoogleSansCodeItalicVariable.woff2")
		format("woff2-variations");
}
