@font-face {
	font-family: "Google Sans Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/google-sans-mono/GoogleSansMono400.woff2") format("woff2");
}

@font-face {
	font-family: "Google Sans Mono";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/google-sans-mono/GoogleSansMono500.woff2") format("woff2");
}
