---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Typography Playground</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6658566277779286"
     crossorigin="anonymous"></script>
  </head>
  <body class="min-h-screen bg-[#f3f4f6] flex flex-col font-sans overflow-hidden">
    <slot />
  </body>
</html>
